<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
<style>
#fiii{

  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;


}
body{
  background-image: url("images/lklklkl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
background-blend-mode: lighten;
}

</style>
</head>

<body>
  <div id="fiii">
<h2>  Precautions to be taken during vaccination</h2>
</br>
    Immunizations are usually safe. The benefits of vaccines far outweigh any risk associated with them. However, it is good to take certain precautions while getting your baby vaccinated.
</br>
  1) Always get the baby vaccinated in a reputed private/government hospital. The hospital should have all the facilities to store vaccines safely.
</br>
  2) Prior to vaccination/immunisation, inform your doctor if the child has had any significant reactions to the last dose.
</br>
  3) Insist on checking the expiry date of the vaccine being given to your baby. Expired vaccine can cause serious problems for baby.
</br>
  4) Always consult your baby’s paediatrician before vaccination. Doctor will check your baby for any illnesses before clearing for vaccination.</br>
  5) Vaccines can be given in the presence of minor illness. Always inform your doctor if your baby has any health issue like cold, fever etc.
</br>
6) Prior to DPT vaccination, inform the doctor if the child had developed any convulsions or fits in the past.
</br>
<h2>Side-effects of Vaccination/ Immunization</h2>
</br>
Vaccination is usually safe and most babies do not have any major problems as a result of immunization. However, some babies may develop certain side-effects to certain vaccines. Side-effects are usually minor and usually get better within a day or 2.

Baby may have low-grade fever after some vaccinations. Doctor may recommend you to give Crocin drops to relieve the symptoms.
BCG – A lump appears 3-4 weeks after B.C.G. It may soften and discharge for up to 2 weeks. No application or medication is required. a small scar
remains at the site. If a swelling appears and does not subside, contact your doctor.
D.P.T. (Triple)– There may be mild fever, pain, redness and swelling at the site of injection. A small, painless lump may remain for a few weeks. For fever and pain, paracetamol drops/ syrup may be given. The dose can be repeated every 4-6 hours if necessary. If fever is over 102 F  and baby suffers from persistent crying or screaming, you must consult your doctor.
MEASLES / MMR – A few babies may get fever 4-10 days after the vaccination. There may be associated cough, cold and mild rash. Paracetamol drops / syrup may be given if
required.
HIB / Typhoid vaccine – Mild pain or fever may occur. Paracetamol syrup may be given as recommended.
Baby may be cranky due to fever and discomfort. Make sure to shower baby with lot of attention and comfort her.
If your feel baby is suffering too much, don’t hesitate to check with baby’s doctor.
Always go with your gut instinct. You know your baby best and your instinct is more important than any recommendation given in books or by others.


<h2>What can you do, if you miss a vaccine schedule?</h2>
</br>
If you miss administering vaccine to your child on schedule, then the vest strategy is to speak to your child’s doctor and let him/her advise on the catch up schedule.


</div>
  <script src="js/scripts.js"></script>
</body>
</html>
