<form class="" action="/msg" method="get">

  <input type="text" name="frequency" value="" placeholder="frequency in days">

  <input type="date" name="date" value="" placeholder="specific date">

  <input type="submit" name="" value="">

</form>
